OPENAI_API_KEY = ''
# different neo4j credentials for the different graphs necessary
GPT4O_NEO4J_URI = ''
GPT4O_NEO4J_USERNAME = ''
GPT4O_NEO4J_PASSWORD = ''
GPT4O_AURA_INSTANCEID = ''
GPT4O_AURA_INSTANCENAME = ''

GPT4OMINI_NEO4J_URI = ''
GPT4OMINI_NEO4J_USERNAME = ''
GPT4OMINI_NEO4J_PASSWORD = ''
GPT4OMINI_AURA_INSTANCEID = ''
GPT4OMINI_AURA_INSTANCENAME = ''

GPT4TURBO_NEO4J_URI = ''
GPT4TURBO_NEO4J_USERNAME = ''
GPT4TURBO_NEO4J_PASSWORD = ''
GPT4TURBO_AURA_INSTANCEID = ''
GPT4TURBO_AURA_INSTANCENAME = ''

LANGCHAIN_NEO4J_URI = ''
LANGCHAIN_NEO4J_USERNAME = ''
LANGCHAIN_NEO4J_PASSWORD = ''
LANGCHAIN_AURA_INSTANCEID = ''
LANGCHAIN_AURA_INSTANCENAME = ''
